
body{font-family:Segoe UI;
    background:#d7e6f7;
    text-align:center;
    margin:0;
}
.container
{
    background:white;
    padding:25px;
    width:350px;
    margin:80px auto;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.15);
}
input,select
{
    width:90%;
    padding:10px;
    margin:8px;
    border-radius:8px;
    border:1px solid #ccc;
}
button
{
    background:#007bff;
    color:white;
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
button:hover{background:#0056b3;}
.flex
{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;margin:20px;
}
.progress
{
    background:#ddd;
    border-radius:10px;
    width:250px;
    margin:auto;
}
.bar{
    height:18px;
    background:#28a745;
    border-radius:10px;
}
p a{
color:#007bff;
text-decoration:none;
font-weight:600;
}
p a:hover{
text-decoration:underline;
}

a{
color:red;
text-decoration:none;
font-weight:bold;
}
a:hover{
text-decoration:underline;
}

table{
border-collapse:collapse;
margin:20px auto;
width:70%;
background:white;
}

th, td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

th{
background:#007bff;
color:white;
}